<div class="background">
  <div class="wrapper">
    <h3 id="title-wrapper">Créer une nouvelle position</h3>
     <%= simple_form_for (@position) do |f| %>
       <%= f.input :isin, label: "Code Isin"%>
       <%= f.input :emetteur, label: "Nom de l'émetteur",collection: ['SocGen', 'Citi','BNP Paribas' ] %>
       <%= f.number_field :price, label: "Quel prix de revient ?" %>
       <%= f.number_field :quantity, label: "Quelle quantité ?" %>
        <div class="form-button mt-2 mb-2">
         <%= f.submit "Créer le produit", class: 'btn' %>
        </div>
    <% end %>
  </div>
</div>
